<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c4q_ac35.espy" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/espy_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EspyMain"
            android:label="@string/app_name"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAs0pUsczACKcZ44Hb9tjaLbwKqtlz48fo" />
        <!--AIzaSyB2Hv1wRfZ0DY01NXGaq4m1mSICX4FEWbI-->
            <!--android:value="AIzaSyAs0pUsczACKcZ44Hb9tjaLbwKqtlz48fo" />-->
        <!--android:value="AIzaSyDDREe4DCpVa7J2EbvhQRsr-BSxaovc8Ms" />-->
        <activity android:name=".UserInitalSetActivity"
            android:label="Initial Setup"/>
        <service
            android:name=".GeofenceTransitionsIntentService"
            android:exported="true">
        </service>
        <service
            android:name=".NotificationsService"
            android:exported="true">
        </service>

    </application>

</manifest>